@font-face {
    font-family: ar;
    src: url(fonts/BoutrosJazirahTextLight.ttf);
}
body{
    margin: 0;
    padding: 0;
    background-color: white;
}
#parent{
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 200%;
    transition: 1s ease-out;  
}
.menuPN{
    right: 5%;
    transition: 2s;
}
.menuP{
    left: 5%;
    transform: rotateY(180deg);
    transition: 2s;
}
.changeTheme{
    background-color: #181818;
    background-position: left;
    background: linear-gradient(to left, #181818 50%, white 50%) right;
}
.changeThemeB{
    background-color: #181818;
    background-position: right;
    background: linear-gradient(to right, white 50%, #181818 50%) left;
}
.hide{
    opacity: 0;
    transition: 1s ease-in-out;
}
.hideE{
    display: none;
    opacity: 0;
}
.show{
    opacity: 1;
    transition: 1s ease-in-out;
}
.whiteTheme{
    color: white;
    background: linear-gradient(180deg, #F38300 11.92%, #31C6CF 93.4%);
    transition: background-color 1s linear;
}
.blackTheme{
    color: black;
    background: linear-gradient(180deg, #A500F3 11.92%, #31C6CF 93.4%);
}
.W{
    color: black;
}
.B{
    color: black;
}
.lBtnW{
    background-color: #F38300;
}
.lBtnB{
    background-color: #A500F3;
}

@media only screen and (min-width: 700px){
    #main{
        position: absolute;
        width: 430px;
        height: 430px;
        border-radius: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    
    #mainImg{
        position: absolute;
        width: 350px;
        height: 350px;
        border-radius: 100%;
        top: 70%;
        left: 56%;
        transform: translate(-56%, -70%);
    }
    #mainImg img{
        width: 100%;
        height: 100%;
    }
    .blackColor{
        color: black;
    }
    .whiteColor{
        color: white;
    }
    #gi{
        color: white;
    }
    #ti{
        color: white;
    }
    #ii{
        color: white;
    }
    #links {
        color: white;
        position: fixed;
        right: 5%;
        bottom: 10%;
        display: grid;
        grid-template-columns: repeat(3, 100px);
        grid-template-rows: 50px;
        grid-column-gap: 37px;
        grid-row-gap: 0px;
    }
    #icons{
        position: fixed;
        width: 2%;
        height: 15%;
        top: 42.5%;
        left: 0.5%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(3, 30%);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    #github { 
        grid-area: 1 / 1 / 2 / 2; 
    }
    #twitter { 
        grid-area: 2 / 1 / 3 / 2; 
    }
    #instagram {
         grid-area: 3 / 1 / 4 / 2; 
    }
    #menu{
        position: fixed;
        width: 2.5%;
        height: 2%;
        top: 10%;
        right: 5%;
    }
    #menu:hover{
        cursor: pointer;
    }
    #menuA{
        position: absolute;
        right: 0;
        width: 30px;
        height: 2px;
        background-color: white;
    }
    #menuB{
        position: absolute;
        top: 6px;
        right: 0;
        width: 20px;
        height: 2px;
        background-color: white;
    }
    #major {
        cursor: pointer;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        grid-area: 1 / 1 / 2 / 2;
    }
    
    #coding { 
        cursor: pointer;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        grid-area: 1 / 2 / 2 / 3; 
    }
    
    #projects {
        cursor: pointer;
        color: #31C6CF;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        grid-area: 1 / 3 / 2 / 4; 
    }
}
@media only screen and (max-width: 500px){
    #mainParent{
        position: fixed;
        width: 80%;
        height: 80%;
        left: 10%;
        top: 10%;
        z-index: 1;
    }
    #projectsLabel{
        position: absolute;
        width: 100%;
        height: 80%;
        top: 15%;
    }
    #projectA{
        border-radius: 20px;
        position: absolute;
        width: 208px;
        height: 44px;
        top: 10px;
        left: 18px;
        background-color: #A500F3;
        box-shadow: 5px 5px 10px 1px #d1f5f7;
    }
    .PR{
        top: 24%;
        color: white;
        position: absolute;
        width: 70%;
        height: 50%;
        float: left;
        left: 5%;
    }
    .PIR{
        position: absolute;
        right: 0;
        width: 20%;
        height: 100%;
        float: right;
    }
    .PL{
        text-align: right;
        top: 24%;
        color: white;
        position: absolute;
        width: 70%;
        height: 50%;
        float: right;
        right: 10%;
    }
    .PIL{
        position: absolute;
        top: -28.5%;
        left: -2%;
        width: 30%;
        height: 100%;
        float: left;
    }
    #raceImg{
        width: 70px;
        height: 70px;
    }
    #projectB{
        border-radius: 20px;
        position: absolute;
        width: 208px;
        height: 44px;
        right: 18px;
        top: 84px;
        background: #31C6CF;
        box-shadow: -5px 5px 10px 1px #e6cbf3;
    }
    #projectC{
        border-radius: 20px;
        position: absolute;
        width: 208px;
        height: 44px;
        top: 158px;
        left: 18px;
        background-color: #A500F3;
        box-shadow: 5px 5px 10px 1px #d1f5f7;
    }
    #projectD{
        border-radius: 20px;
        position: absolute;
        width: 208px;
        height: 44px;
        right: 18px;
        top: 232px;
        background: #C4C4C4;
        box-shadow: -5px 5px 10px 1px rgb(240, 236, 236);
    }
    #faImg{
        right: 0;
        height: 100%;
        width: 100%;
        border-radius: 20px;
    }
    #quoteText{
        font-family: 'Dancing Script', cursive;
        left: 1px;
        position: absolute;
        top: 15px;
        float: left;
        width: 70%;
    }
    #quote{
        color: white;
        width: 100%;
        height: 70px;
        background-color: black;
        position: absolute;
        top: 70%;
    }
    #quoteImg{
        width: 30%;
        height: 100%;
        float: right;
    }
    #projectsContainer{
        top: 10%;
        position: absolute;
        width: 100%;
        height: 60%;
    }
    #projectHeader{
        position: absolute;
        color: black;
        left: 10%;
    }
    #codingText{
        color: black;
        text-align: right;
        font-family: ar;
        position: absolute;
        top: 37%;
        right: 1%;
        height: 15%;
        width: 98%;
    }
    #charImg{
    position: absolute;
    width: 144px;
    height: 250px;
    top: 0%;
    z-index: 2;
    }
    .charImgA{
    right: 0;
    opacity: 0;
    }
    .charImgB{
        right: 10%;
        opacity: 1;
        transition: right 1s ease-in;
    }
    #main{
        position: absolute;  
    }
    .mainBig{
        width: 250px;
        height: 250px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -70%);
        border-radius: 100%;
        transition: 1s ease;
    }
    .mainTop{
        width: 100%;
        height: 80px;
        top: 11.5%;
        transition: 1s ease;
    }
    .mainTopB{
        width: 4%;
        height: 10px;
        top: 8%;
        left: 40%;
        border-radius: 50%;
        transition: 1s ease;
    }
    #achA{
        position: fixed;
        width: 90%;
        height: 26px;
        left: 5%;
        top: 64%;
        border-radius: 20px;
        justify-content: space-between;
        z-index: 2;
    }
    #achBG{
        position: fixed;
        width: 90%;
        height: 26px;
        background: linear-gradient(90deg, #833AB4 0%, rgba(253, 29, 29, 0.522845) 47.72%, #FCB045 100%);
        left: 5%;
        top: 65%;
        border-radius: 20px;
        display: inline-block;
        z-index: 1;
    }
    #achA>div{
    margin-left: 10.2%;
    width: 40px;
    height: 40px;
    vertical-align: top;
    display: inline-block;
    *display: inline;
    }
    #achB{
        position: fixed;
        width: 60%;
        height: 26px;
        left: 20%;
        top: 72%;
        border-radius: 20px;
        text-align: center;
        z-index: 2;
    }
    #achBGB{
        position: fixed;
        width: 60%;
        height: 26px;
        background: linear-gradient(90deg, #833AB4 0%, rgba(253, 29, 29, 0.522845) 47.72%, #FCB045 100%);
        left: 20%;
        top: 73%;
        border-radius: 20px;
        z-index: 1;
    }
    #css{
    margin-left: 20px;
    width: 40px;
    height: 40px;
    display: inline-block;
    *display: inline;
    }
    #html{
    margin-left: -6%;
    width: 40px;
    height: 40px;
    display: inline-block;
    *display: inline;
    }
    img{
        width: 100%;
        height: 100%;
    }
    #mainImg{
        position: absolute;
        width: 200px;
        height: 200px;
        border-radius: 100%;
        top: 55%;
        left: 63%;
        transform: translate(-63%, -55%);
    }
    #mainImg img{
        width: 100%;
        height: 100%;
    }
    .blackColor{
        color: black;
    }
    .whiteColor{
        color: white;
    }
    #links {
        color: black;
        position: fixed;
        width: 90%;
        left: 5%;
        display: grid;
        text-align: center;
        grid-template-columns: repeat(3, 33%);
        grid-template-rows: 50px;
        grid-column-gap: 0%;
        grid-row-gap: 0px;
        z-index: 2;
    }
    .linksNoraml{
        bottom: 25%;
    }
    .linksDown{
        bottom: 10%;
    }
    #icons{
        transition: 1s ease-in-out;
        background-color: black;
        position: fixed;
        width: 100%;
        height: 6%;
        bottom: 0;
        display: grid;
        padding: 5px;
        justify-content: center;
        border-radius: 100px 100px 0 0;
        grid-template-columns: repeat(3, 10%);
        grid-template-rows: 10%;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        z-index: 2;
    }
    #menu{
        position: fixed;
        width: 2.5%;
        height: 2%;
        top: 10%;
        z-index: 2;
    }
    #menuA{
        position: absolute;
        right: 0;
        width: 15px;
        height: 2px;
        background-color: black;
    }
    #menuB{
        position: absolute;
        top: 6px;
        right: 0;
        width: 8px;
        height: 2px;
        background-color: black;
    }
    #major { 
        position: relative;
        cursor: pointer;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
    }
    #majorBtn{
        position: absolute;
        width: 60px;
        height: 2.3px;
        left: 25%;
    }
    #codingBtn{
        position: absolute;
        width: 70px;
        height: 2px;
        left: 21%;
    }
    #projectsBtn{
        position: absolute;
        width: 70px;
        height: 2px;
        left: 21%;
    }
    #coding { 
        position: relative;
        cursor: pointer;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 28px;
        text-align: center; 
    }
    #projects {
        position: relative;
        cursor: pointer;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 28px;
        text-align: center;
    }
    #github { 
        grid-area: 1 / 1 / 2 / 2; 
    }
    #twitter { 
        grid-area: 1 / 2 / 2 / 3;
    }
    #instagram {
        grid-area: 1 / 3 / 2 / 4; 
    }
}
